.ExchangeComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ratesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currency {
  font-size: 25px;
}

.rateValue {
  font-weight: 600;
  font-size: 25px;
  margin-left: 10px;
}
