.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.input {
  background: transparent;
  border-radius: 2px;
  box-shadow: 0;
  outline: none;
  width: 200px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
}
