.MainComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  font-size: 45px;
}

.error {
  font-size: 35px;
  color: rgb(151, 61, 61);
}
